body {
	background: #fff;
	font-family: "sharik-sans";
	font-size: 16px;
	line-height: 1.6;
	color: $color-text;
	font-weight: 300;
}

.rel {
	position: relative;
}


#about {
	padding: 150px 0;
	background-image: url('../images/mood/photo1.jpg');
	background-size: cover;
	background-position: center center;
	@media (max-width: 767px) {
		padding: 90px 0 40px;;
	}
}

#menu,
#reserve,
#organic {
	background-image: url('../images/bg-pattern@2x.png');
	background-size: 500px 500px;
}

#menu,
#reserve,
#organic {
	padding: 80px 0;
	@media (max-width: 767px) {
		padding: 40px 0;
	}
}

.content {
	padding: 20px 30px 30px;
}


.content-about {
	background: rgba(255, 255, 255, 0.9);
}

.content-contact {
	background: rgba(255, 255, 255, 0.9);
	margin-top: 40px;
	padding: 20px 30px 30px;
	h2 {
		&:before {
			background: url('../images/bg-header-before-sm.png') no-repeat;
			width: 50px;
		}
		&:after {
			width: 50px;
			background: url('../images/bg-header-after-sm.png') no-repeat;
		}
	}
	.glyphicon {
		color: #474747;
		margin-right: 5px;
		font-size: 13px;
	}
}

.contact {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

}

.footer-bar {
	background: $color-primary;;
	height: 10px;
}


#map {
	height: 80vh;
	border-top: 2px solid lighten($color-primary, 10%);
	border-bottom: 2px solid lighten($color-primary, 10%);
}

#organic {
	border-top: 2px solid lighten($color-primary, 10%);
}

.owners {
	margin-top: 20px;
	font-size: 18px;
	font-weight: 700;
}

.employees {
	box-shadow: 0 0 3px #999;
	margin-top: 30px;
	-webkit-transform: rotateZ(2deg);
	transform: rotateZ(2deg);
}

.thumbs {
	img {
		box-shadow: 0 0 3px #999;
		margin-bottom: 60px;
		&:first-child {
			-webkit-transform: rotateZ(2deg);
			transform: rotateZ(2deg);
		}
		&:nth-child(2n) {
			-webkit-transform: rotateZ(-2deg);
			transform: rotateZ(-2deg);
		}
		&:nth-child(3n) {
			-webkit-transform: rotateZ(1deg);
			transform: rotateZ(1deg);
		}
	}
}