.navbar {
	background: $color-primary;;
	color: #fff;
	font-size: 20px;
	font-family: "balzano-std";
	text-transform: uppercase;
}

.navbar-default {
	border: 0;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	&:hover,
	&:focus {
		color: #fff;
	}
}


@media (min-width: 768px) {
	.navbar-nav {
		float: none;
		display: flex;
		text-align: center;
	}
	.navbar-nav>li {
		flex: 1 0 auto;
		float: none;
		display: inline-block;
	}
}