.dish {
	margin-top: 15px;
}

.title {
	font-size: 18px;
	line-height: 26px;
	float: left;
}

.subtitle {
	font-size: 14px;
	line-height: 20px;
}

.price {
	font-size: 18px;
	line-height: 26px;
	float: right;
}

.category {
	margin-bottom: 20px;
}

.category-title {
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 15px;
}

.category-info {
	font-size: 14px;
	line-height: 20px;
}

.vegetarian {
	width: 20px;
	height: 20px;
	display: inline-block;
}
